<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CDN Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles.css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <!-- Ionic Icons -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <title>Panacea</title>
  </head>
  <body>
    <section>
      <div class="row no-gutters header-up">
        <div class="col-lg-1 border-right d-none d-lg-block">
          <div class="d-flex h-100">
            <div class="align-self-center mx-auto">
              <i class="lead-xl">
                <ion-icon name="search"></ion-icon>
              </i>
            </div>
          </div>
        </div>
        <div class="col-lg-11">
          <nav class="navbar navbar-expand-lg">
            <a target="_self" class="navbar-brand text-green font-weight-bold" href="../index.html"
              >PANA <span class="font-weight-bold">CEA</span></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <ion-icon name="menu-sharp"></ion-icon
              >
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a target="_self" class="nav-link text-green lead" href="./centres.html" target="_blank">Centres <ion-icon name="home"></ion-icon></a>
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./especialistes.html" target="_blank">Especialistes <ion-icon name="person"></ion-icon></a>
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./mutualitats.html" target="_blank">Mutualitats <ion-icon name="body"></ion-icon></a>
              
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./area_privada.html" target="_blank">Area Privada <ion-icon name="contact"></ion-icon></a>
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./forum.html" target="_blank">Forum <ion-icon name="megaphone"></ion-icon></a>
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./medicaments.html" target="_blank">Medicaments <ion-icon name="medkit"></ion-icon></a>
                </li>
                <li class="nav-item">
                  <a target="_self" class="nav-link text-dark lead" href="./about_us.html" target="_blank">Sobre Nosaltres <ion-icon name="help"></ion-icon></a>
                </li>
                <li class="nav-item d-none">
                  <a target="_self" class="nav-link text-dark lead-xl" href="#"
                    ><ion-icon name="menu-sharp"></ion-icon
                  ></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="row no-gutters text-dark" id="centres">
        <div class="d-flex align-items-center justify-content-between py-4 results">
            <div> <span>Provincia: </span> <select class="background-green" name="price" id="price">
                    <option value="l2h" selected>Barcelona</option>
                    <option value="l2h">Tarragona</option>
                    <option value="l2h">Lleida</option>
                    <option value="l2h">Girona</option>
                </select> </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                <div class="card"> <a target="_self" href="./especialistes.html"><img class="card-img-top" src="https://www.cetir.com/wp-content/uploads/2017/06/CETIR-Centro-Teknon.jpg"> </a>
                    <div class="card-body background-green">
                        <div class="background-green d-flex align-items-start justify-content-between">
                            <div class="background-green d-flex flex-column">
                                <div class="background-green h6 font-weight-bold">Teknon</div>
                                <div class="background-green text-muted">Barcelona</div>
                            </div>
                            <div class="btn"><span class="far fa-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                <div class="card"> <img class="card-img-top" src="https://www.xarxagran.cat/images/126219/service_details_image.jpg">
                    <div class="background-green card-body">
                        <div class="background-green d-flex align-items-start justify-content-between">
                            <div class="background-green d-flex flex-column">
                                <div class="background-green h6 font-weight-bold">Mutuam Girona</div>
                                <div class="background-green text-muted">Girona</div>
                            </div>
                            <div class="btn"><span class="far fa-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                <div class="card"> <img class="card-img-top" src="https://cronicaglobal.elespanol.com/uploads/s1/95/66/72/4/hospital-lleida.jpeg">
                    <div class="background-green card-body">
                        <div class="background-green d-flex align-items-start justify-content-between">
                            <div class="background-green d-flex flex-column">
                                <div class="background-green h6 font-weight-bold">Arnau de Vilanova</div>
                                <div class="background-green text-muted">Lleida</div>
                            </div>
                            <div class="btn"><span class="far fa-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                <div class="card"> <img class="card-img-top" src="https://icscampdetarragona.cat/web/wp-content/gallery/noticia010617-1/foto_4.jpg">
                    <div class="background-green card-body">
                        <div class="background-green d-flex align-items-start justify-content-between">
                            <div class="background-green d-flex flex-column">
                                <div class="background-green h6 font-weight-bold">Joan XXIII</div>
                                <div class="background-green text-muted">Tarragona</div>
                            </div>
                            <div class="btn"><span class="far fa-heart"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="./components/centres.js"></script>
  </body>
</html>
  </body>
</html>